
<app-info-vehiculo #info (salida)="agregarVehiculo($event)"></app-info-vehiculo>

<h3>Lista de los vehiculos</h3>


<table class="table">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Marca</th>
            <th>Tipo Vehículo</th>
            <th>Nombre Propietario</th>
            <th>Teléfono Propietario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehiculo of listaVehiculos">
            <td>{{ vehiculo.placa }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.tipo_vehiculo }}</td>
            <td>{{ vehiculo.nombre_propietario }}</td>
            <td>{{ vehiculo.telefono_propietario }}</td>
            <td>
                <button (click)="delete(vehiculo.placa)" class="btn red"><i class="material-icons">delete</i></button>
                <button class="btn green" (click)="info.load(vehiculo)"><i class="material-icons">edit</i></button>
            </td>
        </tr>
    </tbody>
</table>


<br>