<nav>
    <div class="nav-wrapper black">
      <a routerLink="/home" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/vehiculos">Vehículos</a></li>
        <li><a routerLink="/facturacion">Facturación</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/vehiculos">Vehículos</a></li>
    <li><a routerLink="/facturacion">Facturación</a></li>
  </ul>